server {
    listen 80;
    server_name advweb.duckdns.org;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name advweb.duckdns.org;

    ssl_certificate /etc/letsencrypt/live/advweb.duckdns.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/advweb.duckdns.org/privkey.pem;
    client_max_body_size 100M;

    location = / {
        return 302 /swagger-ui/index.html;
    }

    location /swagger-ui/ {
        proxy_pass http://92.38.48.50:30081/swagger-ui/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port 443;
    }

    location /v3/api-docs {
        proxy_pass http://92.38.48.50:30081;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port 443;
    }

    location /uploads/ {
        proxy_pass http://92.38.48.50:30081/uploads/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port 443;
    }

    location /auth/ {
        proxy_pass http://92.38.48.50:30082/auth/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port 443;
    }

    location ~ ^/(advertisements|categories|users|comments|reviews|images|avatars|admin)(/|$) {
        proxy_pass http://92.38.48.50:30081;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port 443;
    }
}
